<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @segment_type.name %>
</p>

<%= link_to 'Edit', edit_segment_type_path(@segment_type) %> |
<%= link_to 'Back', segment_types_path %>
